body, html {
	font-family: Montserrat, Verdana, sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #121314;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	font-size: 36px;
	margin: 0;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: Montserrat, Verdana, sans-serif;
	font-size: 13px;
}
a {
	color: #E3E5BB;
	transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #A7A97F;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #1C1C1F;
	z-index: 99999;
	height: 100%;
}
#status {
	position: absolute;
	color: #E3E5BB;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.section-title {
	padding: 30px 0;
}
.section-title h2 {
	font-weight: 400;
	margin-bottom: 26px;
}
hr {
	height: 3px;
	width: 60px;
	position: relative;
	background: #E3E5BB;
	border: 0;
	margin-bottom: 30px;
}
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: #E3E5BB;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #A7A97F;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #E3E5BB;
}
.on {
	background-color: #121314 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #E3E5BB !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #E3E5BB;
	border-color: #E3E5BB;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.relief {
	text-shadow: 3px 3px rgba(0,0,0,1);
	background-color: rgba(0,0,0,0.4);
	box-shadow: 0px 0px 200px rgba(0,0,0,0.8);
}
header {
	background: url(../img/header-bg.png) no-repeat bottom center;
	background-size: cover;
	color: #A7A97F;
	position: relative;
	height: 100%;
}
header p {
	color: #E3E5BB;
	font-size: 20px;
	margin-bottom: 80px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 170px;
}
.intro-text H1 {
	font-size: 70px;
	color: #A7A97F;
	letter-spacing: 2px;
}
.color {
	color: #E3E5BB;
}
.btn-default {
	color: #121314;
	font-family: Montserrat, Verdana, sans-serif;
	background-color: #E3E5BB;
	border: 0;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
	text-shadow: 0px 0px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #E3E5BB;
	color: #A7A97F;
}
#features {
	padding: 80px 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#57594b+1,121314+25,121314+75,121314+100 */
background: #57594b; /* Old browsers */
background: -moz-linear-gradient(top, #57594b 1%, #121314 25%, #121314 75%, #121314 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #57594b 1%,#121314 25%,#121314 75%,#121314 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #57594b 1%,#121314 25%,#121314 75%,#121314 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57594b', endColorstr='#121314',GradientType=0 ); /* IE6-9 */}
#features i.fa {
	font-size: 30px;
	padding: 5px;
	color: #121314;
}
#features h2 {
	color: #E3E5BB;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
#features hr {
	background: #E3E5BB;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #51633d;
	border: 1px solid #f7dc6f;
	padding: 8px 16px;
	border-radius: 3px;
}
ol.type li a.active {
	background: #f7dc6f;
}
ol.type li a:hover {
	background: #f7dc6f;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}
.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #1C1C1F;
	background: rgba(227,229,187,0.8);;
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 20px;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
.portfolio-modal .modal-content {
	padding: 100px 0;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	text-align: center;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #A7A97F;
}
.portfolio-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 2.5em;
}
.portfolio-modal .modal-content p {
	margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
	margin: 10px 0 30px;
	font-size: 14px;
	font-style: italic;
}
.portfolio-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}
.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}
.portfolio-modal .close-modal:hover {
	opacity: .3;
}
.portfolio-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #222;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #222;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.portfolio-modal .btn-primary {
	float: right;
	color: #A7A97F;
	background-color: #E3E5BB;
	border-color: #E3E5BB;
}
.portfolio-modal .btn-primary:hover, .portfolio-modal .btn-primary:focus, .portfolio-modal .btn-primary.focus, .portfolio-modal .btn-primary:active, .portfolio-modal .btn-primary.active {
	color: #A7A97F;
	background-color: #1C1C1F;
	border-color: #1C1C1F;
}
#overview,
#contact {
	padding: 80px 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#121314+0,121314+20,032e3a+100,121314+100 */
background: #121314; /* Old browsers */
background: -moz-linear-gradient(top, #121314 0%,#121314 20%,#57594B 100%,#121314 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #121314 0%,#121314 20%,#57594B 100%,#121314 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #121314 0%,#121314 20%,#57594B 100%,#121314 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121314', endColorstr='#121314',GradientType=0 ); /* IE6-9 */
color: #A7A97F;
}
#overview h4 {
	color: #E3E5BB;
	font-size: 20px;
}
#overview li {
	margin-bottom: 6px;
	list-style: none;
	padding: 0;
}
.modal-body li:before,
#overview li:before {
	content: "✓   ";
}
#overview li:before {
	color: #E3E5BB;
	padding-right: 5px;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #A7A97F;
	transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #A7A97F;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #A7A97F;
}
#contact .fa {
	color: #E3E5BB;
	margin-bottom: 10px;
}
#contact .social {
	margin-top: 60px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 15px;
}
#contact .social i.fa {
	font-size: 26px;
	padding: 4px 5px;
	color: #E3E5BB;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #121314;
}
.modal-body {
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
#footer {
	background: #121314;
	padding: 15px 0 10px 0;
	color: #A7A97F;
	text-align: center;
}
#footer p {
	margin-top: 10px;
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}
header {
	background: url(../img/header-bg-tiny.png) no-repeat bottom center;
	background-size: cover;
	color: #A7A97F;
	position: relative;
	height: 100%;
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 10%;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
	padding: 22% 10%;
}
}
