@media all {

	:root {
			--background: #121314;
			--background-neutral: rgba(10, 11, 12, 0.8);
			--background-subtle: rgba(10, 11, 12, 0.1);
			--background-highlight: #272727;
			--background-error: #FFE4E1;
			--text: #A7A97F;
			--text-highlight: #E3E5BB;
			--error: #FF6666;
			--help: #dd0;
			--contrast-low: #000000;
			--contrast-high: #ffffff;
			--text-minuscule: .5em;
			--text-tiny: .7em;
			--text-small: .8em;
			--text-smaller: .9em;
			--text-normal: 1em;
			--text-larger: 1.2em;
			--text-quite-big: 1.5em;
			--text-big: 2em;
			--quick: .2s;
	}

	:focus {
		outline: none;
	}


	input:-webkit-autofill {
		font-family: Montserrat, Verdana, sans-serif;
		color: var(--text) !important;
		-webkit-text-fill-color: var(--text) !important;
		-webkit-box-shadow: 0 0 0 100px white inset !important;
	}


	@keyframes blink1 {
		 0% { opacity: 0; }
		 33% { opacity: 1; }
		 66% { opacity: 0; }
		 100% { opacity: 0; }
	}

	@keyframes blink2 {
		 0% { opacity: 0; }
		 33% { opacity: 0; }
		 66% { opacity: 1; }
		 100% { opacity: 0; }
	}

	@keyframes blink3 {
		 0% { opacity: 0; }
		 33% { opacity: 0; }
		 66% { opacity: 0; }
		 100% { opacity: 1; }
	}

	body,
	input,
	.fancytree-node {
		font-family: Montserrat, Verdana, sans-serif;
		text-shadow: 0 1px 2px var(--background-neutral);
	}

	#big-player-bottom,
	#mini-controls {
		-webkit-tap-highlight-color: transparent;
	}

	google-cast-launcher {
		--disconnected-color: var(--text);
		--connected-color: var(--text-highlight);
		min-width: 2em;
		max-width: 2em;
		margin-top: 5px;
		filter: drop-shadow(0 1px 2px var(--background-neutral));
	}

	google-cast-launcher:hover {
		--disconnected-color: var(--text-highlight);
	}

	#hidden {
		position: fixed;
		top: -500px;
	}

	#big-unmute {
		display: none;
	}

	#big-cover {
		max-width: 70vw;
		padding-top: 100%;
		position: relative;
	}

	#big-cover::after {
		 box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 12.5px 10px rgba(0, 0, 0, 0.06);
		 content: '';
		 display: block;
		 height: 100%;
		 position: absolute;
		 top: 0;
		 width: 100%;
		 z-index: -1;
	}

	#album-art, 
	.logo-player,
	#big-cover .default-poster {
		vertical-align: middle;
		display:block;
		transition: src .5s ease;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		max-width: unset;
		max-height: unset;
		margin-left: 0;
	}

	.logo-background {
		fill: var(--text);
	}

	.logo-highlight {
		fill: var(--text-highlight);
	}

	.blink1 {
	 animation: blink1 1s linear infinite;
	}

	.blink2 {
	 animation: blink2 1s linear infinite;
	}

	.blink3 {
	 animation: blink3 1s linear infinite;
	}

	/* I don't like the default space between icon and text in fancytree with fontawesome5 */
	span.fancytree-title {
		margin-left: 8px;
	}

	/* Override widget header border */
	.ui-widget-header {
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}

	/* Fix for https://stackoverflow.com/questions/41777517/fancy-tree-icon-alignment-as-vertical-center in fancytree with fontawesome5 */
	span.fancytree-title,
	span.fancytree-icon,
	span.fancytree-expander{
		vertical-align: baseline;
	}

	.fancytree-treefocus span.fancytree-active span.fancytree-title,
	.fancytree-treefocus span.fancytree-selected span.fancytree-title,
	.searchResult:focus,
	.searchResultParent:focus {
		outline: 1px dotted var(--text-highlight);
		color: var(--text-highlight)!important;
		background-color: transparent;
	}

	hr {
		background-color: var(--text);
		height: 1px;
		border: 0;
	}

	legend {
		border-style: none;
		background-color: var(--text);
		font-weight: bold;
		Color: var(--text-highlight);
		width: 30%;
		padding-left: 10px;
	}

/*
	.fancytree-treefocus span.fancytree-active span.fancytree-title:after,
	 .fancytree-treefocus span.fancytree-selected span.fancytree-title:after {
		content: '\00a0\00a0\2039';
 }
*/

	/* uncover panel styling */
	#uncover_top_row,
	#uncoverLinks {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		margin: 1em;
		margin-top: 0;
	}

	#uncover_top_row span i{
		margin-right: .5em;
	}

	#uncover_top_row span {
		font-size: var(--text-larger);
		border-radius: 4px;
		background: var(--background-highlight);
		border: 1px solid var(--text-highlight);
		text-align: center;
		padding: 1em;
		margin: .5em;
	}

	#uncover_top_row span:hover {
		background: var(--text);
	}

	#uncoverLinks span {
		border-radius: 4px;
		border: 1px solid var(--text-highlight);
		background: var(--background-highlight);
		text-align: center;
		width: 300px;
		padding: 1em;
		margin: 1em;
		font-size: var(--text-small);
	}

	.uncoverLink {
		position: relative;
	}

	.uncoverLink img,
	.uncoverLink .default-poster {
		border: 1px solid var(--background-subtle);
		width: 95%;
		max-width: 250px;
		max-height: 250px;
	}

	.uncoverLink .play-last {
		display: none;
		position: absolute;
		top: 15%;
		left: 22%;
		max-width: 60%;
	}

	.uncoverLink:hover > .play-last {
		display: block;
	}

	.uncoverLink:hover > .default-poster,
	.uncoverLink:hover > img {
		opacity: .1;
	}

	/* Infopanel Styling */

	#infoPanel table.infobox tr:first-child,
	.shortdescription,
	.ambox,
	.tocnumber,
	li.nv-view a,
	li.nv-talk a,
	li.nv-edit a {
		display: none;
	}

	.thumb,
	#infoPanel table.infobox {
		text-align: center;
	}

	table.infobox td {
		padding-bottom: .5em;
	}

	#infoPanel table.infobox th {
		text-align: left;
		vertical-align: top;
		color: var(--text-highlight);
	}

	#infoPanel table.infobox th[scope="row"] + td,
	.navbox-group {
		text-align: left;
		padding-left: 1.5em;
	}

	.hlist dd, .hlist dt, .hlist li, table.infobox .plainlist li {
		margin: 0;
		display: inline;
}

	table.infobox .hlist li {
		overflow-wrap: anywhere;
	}

	table.infobox .hlist li::after {
		padding: 0;
		margin: 0;
		content: "\00A0\25AA\00A0";
		color: var(--text);
		font-size: var(--text-smaller);
	}

	table.infobox .hlist li:last-child::after {
		content: "";
	}

	table.infobox .hlist ul,
	table.infobox .plainlist ul {
		margin: 0;
		padding: 0;
	}

	.thumbcaption,
	table.infobox a.image + div {
		font-size: var(--text-smaller);
	}

	.mw-parser-output h1,
	.mw-parser-output h2,
	.mw-parser-output h3 {
		padding-top: 2.5em;
	}

	.mw-headline,
	.toctitle,
	.thumbcaption,
	.thumbcaption a,
	.navbox-title,
	table.infobox b,
	table.infobox a.image + div,
	table.infobox a.image + div a {
		color: var(--text-highlight);
	}

	.toc ul,
	.toc ol {
		list-style-type: none;
	}

	.toctext,
	toc a.infoPanelAnchor {
		margin-left: -1.5em;
	}

	/* End of infopanel styling */

	#playlist-tools {
		position: sticky;
		margin: -1.3em;
		top: -1px;
		padding: .5em .5em .5em .5em;
		box-shadow: 0 -5px 15px -5px var(--background-highlight);
		background: var(--background-highlight);
		z-index: 1;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	@supports (backdrop-filter: blur(10px)) {
		#playlist-tools {
			box-shadow: 0 -1px 0 0 var(--background);
		}

		.blur {
			filter: blur(10px);
		}

		.magic, 
		#playlist-tools {
			backdrop-filter: blur(50px) opacity(100%) brightness(50%)
		}
	}

	.magic {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	}

	.small {
		font-size: var(--text-tiny);
	}

	#big-player {
		height: 100vh;
	}

	#big-player-bottom {
		display: flex;
		flex-direction: column;
		height: 20vh;
		justify-content: space-evenly;
		margin-top: 5%;
	}

	#playlist_select {
		margin-left: .5em;
		max-width: 65%;
		width: 16em;
	}

	#ham {
	display: none;
	}

	#includeOldAlbums {
		display: none;
	}

	.move-up,
	.move-down {
		margin-right: 0.5em;
	}

	.space-after {
		margin-right: 0.8em;
	}

	.settings {
		margin-bottom: 0.5em;
	}

	.settings-sub {
		font-size: var(--text-smaller);
		padding-left: 1.5em;
	}

	.theme_opts {
		padding-left: 2em;
	}

	.settings-option {
		font-size: var(--text-small);
	}

	.hidden {
		display: none!important;
	}

	.ui-slider-range {
		background: var(--text-highlight);
		transition: opacity 1s;
		opacity: 0.7;
	}

	.ui-slider-range:hover {
		transition: opacity .5s;
		opacity: 1;
	}

	span.ui-slider-handle.ui-state-default {
		top: -.2em;
		opacity: 0;
		height: .5em;
		width: .5em;
		background: var(--text-highlight);
		border: 1px solid var(--text);
	}

	@media (hover: hover) {
		#big-cover:hover #big-volume-bar {
		opacity: 1;
		border: 1px solid var(--text-highlight);
		transition: opacity 2s ease, border 2s ease;
		}
	}

	/* Classes for replacing generic form elements with font-awesome */
	.fa-input {
		display: none;
	}

	input[type="checkbox"] + .fa,
	input[type="checkbox"] + label > .fa,
	input[type="checkbox"] + .fas,
	input[type="checkbox"] + label > .fas,
	input[type="radio"] + .fa,
	input[type="radio"] + label > .fa { cursor: pointer; }

	/* Unchecked */
	input[type="checkbox"] + .fa-check-circle:before,
	input[type="checkbox"] + label > .fa-check-circle:before,
	input[type="radio"] + .fa-check-circle:before,
	input[type="radio"] + label > .fa-check-circle:before { content: "\f111"; } /* .fa-circle */
	input[type="checkbox"] + .fa-dot-circle-o:before,
	input[type="checkbox"] + .fa-check-circle-o:before,
	input[type="checkbox"] + label > .fa-dot-circle-o:before,
	input[type="checkbox"] + label > .fa-check-circle-o:before,
	input[type="radio"] + .fa-dot-circle-o:before,
	input[type="radio"] + label > .fa-dot-circle-o:before,
	input[type="radio"] + .fa-check-circle-o:before,
	input[type="radio"] + label > .fa-circle:before {content: "\f111"; } /* .fa-circle */
	input[type="radio"] + .fa-circle:before,
	input[type="radio"] + label > .fa-circle:before { content: "\f1db"; } /* .fa-circle-thin */
	input[type="checkbox"] + .fa-check:before,
	input[type="checkbox"] + .fa-check-square-o:before,
	input[type="checkbox"] + label > .fa-check:before,
	input[type="checkbox"] + label > .fa-check-square-o:before { content: "\f096"; } /* .fa-square-o */
	input[type="checkbox"] + .fa-check-square:before,
	input[type="checkbox"] + label > .fa-check-square:before { content: "\f0c8"; } /* .fa-square */
	input[type="checkbox"] + .fa-toggle-off:before,
	input[type="checkbox"] + label > .fa-toggle-off:before,
	input[type="checkbox"] + .fa-toggle-on:before,
	input[type="checkbox"] + label > .fa-toggle-on:before { content: "\f204"; } /* .fa-toggle-off */

	/* Checked */
	input[type="checkbox"]:checked + .fa-check:before,
	input[type="checkbox"]:checked + label > .fa-check:before { content: "\f00c"; }
	input[type="checkbox"]:checked + .fa-check-circle:before,
	input[type="checkbox"]:checked + label > .fa-check-circle:before,
	input[type="radio"]:checked + .fa-check-circle:before,
	input[type="radio"]:checked + label > .fa-check-circle:before { content: "\f058"; }
	input[type="checkbox"]:checked + .fa-check-circle-o:before,
	input[type="checkbox"]:checked + label > .fa-check-circle-o:before,
	input[type="radio"]:checked + .fa-check-circle-o:before,
	input[type="radio"]:checked + label > .fa-check-circle-o:before { content: "\f05d"; }
	input[type="checkbox"]:checked + .fa-check-square:before,
	input[type="checkbox"]:checked + label > .fa-check-square:before { content: "\f14a"; }
	input[type="checkbox"]:checked + .fa-check-square-o:before,
	input[type="checkbox"]:checked + label > .fa-check-square-o:before { content: "\f046"; }
	input[type="radio"]:checked + .fa-circle:before,
	input[type="radio"]:checked + label > .fa-circle:before { content: "\f111"; }
	input[type="checkbox"]:checked + .fa-dot-circle-o:before,
	input[type="checkbox"]:checked + label > .fa-dot-circle-o:before,
	input[type="radio"]:checked + .fa-dot-circle-o:before,
	input[type="radio"]:checked + label > .fa-dot-circle-o:before { content: "\f192"; }
	input[type="checkbox"]:checked + .fa-toggle-off:before,
	input[type="checkbox"]:checked + label > .fa-toggle-off:before,
	input[type="checkbox"]:checked + .fa-toggle-on:before,
	input[type="checkbox"]:checked + label > .fa-toggle-on:before { content: "\f205"; } /* .fa-toggle-on */

	.fa-square,
	.fa-check-square,
	.fa-toggle-on,
	.fa-toggle-off {
		color: var(--text);
	}

	input[name="require_login"] ~ #users { display: none; }
	input[name="require_login"]:checked ~ #users { display: block; }

	.ui-tabs .ui-tabs-nav {
		border-bottom: 1px solid var(--text);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		text-shadow: none;
	}

	.ui-widget-overlay {
		background: var(--text)!important;
		opacity: .5!important;
	}

	.ui-menu {
		border: 1px solid var(--background)!important;
		border-radius: 3px;
		background-color: var(--background)!important;
		box-shadow: rgba(48, 59, 64, 0.07) 0px 6px 9px,
								rgba(26, 4, 0, 0.12) 0px 3px 6px,
								rgba(0, 0, 0, 0.05) 0px 1px 2px!important;
		text-shadow: none;
	}

	.ui-menu-item {
		font-size: var(--text-smaller);
		border-bottom: 1px solid var(--background-subtle);
	}

	.ui-menu-item:last-of-type {
		border-bottom: 0;
	}

	.ui-menu-icons .ui-menu-item-wrapper {
		padding-left: 3.5em!important;
		padding-top: .75em!important;
		padding-bottom: .75em!important;
	}

	.ui-menu .ui-menu-item:first-of-type .ui-state-active,
	.ui-menu .ui-menu-item:first-of-type:hover .ui-state-active {
		border-radius: 3px 3px 0 0;
	}

	.ui-menu .ui-menu-item:last-of-type .ui-state-active,
	.ui-menu .ui-menu-item:last-of-type:hover .ui-state-active {
		border-radius: 0 0 3px 3px;
	}

	.ui-menu .ui-menu-item .ui-state-active,
	.ui-menu .ui-menu-item .ui-state-active:hover {
		border: 1px solid var(--background-highlight)!important;
		background-color: var(--background-highlight)!important;
		color: var(--text)!important;
	}

	.ui-menu-item .ui-icon {
		color: var(--text-highlight);
		font-size: 1em!important;
	}

	span.fancytree-active span.fancytree-title, span.fancytree-selected span.fancytree-title {
		background-color: transparent;
	}

	mark {
		text-decoration: underline;
		background-color: rgba(0, 0, 0, 0);
	}

	#loading {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 3;
		opacity: 0.7
	}
	
	#loading,
	#playlistSpinner {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#playlistSpinner {
		margin-top: 50%;
	}

	#resync {
		display: none;
	}

	#playlist li[data-nature="album"]:first-of-type {
		margin-top: 0.5em;
	}


	#playlist li[data-nature="album"]:last-of-type {
		margin-bottom: 2em;
	}

	#playlist li[data-nature="album"] {
		background: var(--background-highlight);
		border: 1px solid var(--background-highlight);
		border-radius: 4px;
		padding: 1em;
		margin-bottom: 2em;
	}

	#playlist li[data-nature="track"] {
		background: var(--background);
		padding: .25em 1em .5em 1.5em;
		margin: .5em -1em -1em -3.5em;
		border-radius: 0 0 4px 4px;
	}

	#historyPanel,
	#searchPanel {
		width: 100%;
		margin: 0 auto;
		padding: 2em;
		margin: 0 auto;
		position: relative;
	}

	.card {
	text-align: center;
	color: var(--text-highlight);
	width: 80%;
	}

	.card > ul > span {
		background: var(--background-highlight);
		display: block;
		margin-left: -2.8em;
		padding-top: .5em;
		padding-bottom: .5em;
		border-radius: 4px 4px 0 0;
	}

	.card ul {
		border-radius: 4px;
		list-style-type: none;
		margin-left: -.75em;
		background: var(--background);
		border: 1px solid var(--background-highlight);
	}

	.card li {
		text-align: left;
		padding-top: .5em;
		padding-bottom: .5em;
		color: var(--text);
	}

	.card li span {
		display: inline-block;
	}

	.card li span.historyAlbum {
		text-indent: 1.8em;
	}

	.card li i:before {
		color: var(--text-highlight);
		padding-right: 1em;
	}

	/* tabs */
	.ui-widget-header { }

	.ui-menu {
		width: 160px;
	}

	#playlist > li > ul > li:hover,
	a:hover,
	#ham:hover,
	.historyArtist:hover,
	.historyAlbum:hover,
	.searchResult:hover,
	#uncover_top_row span:hover,
	.settings > label:hover > i {
		color: var(--text-highlight);
	}

	.toggles,
	.play-pause + label i,
	.big-jp-previous,
	.big-jp-next,
	#big-jp-progress, 
	.go,
	a,
	#controls > span > i,
	.historyArtist,
	.historyAlbum,
	.searchResult,
	.searchResultParent,
	#lookupOne,
	#uploadIt,
	#share-actions > span,
	#share-services > span,
	#uncover_top_row span,
	.uncoverLink,
	#history > ul > span,
	.settings-sub label,
	.settings > label:hover,
	.fa-input ~ label:hover,
	i.tooltip,
	i.polling {
		cursor: pointer;
	}

	.is-admin- {
		display:none;
	}

	.remove, .move-up, .move-down, .album-action {
		opacity: 0.5;
	}

	.playlist-tools:hover,
	.remove:hover,
	.move-up:hover,
	.move-down:hover,
	.album-action:hover {
		opacity: 1;
	}

	.playlist-tools:hover,
	.settings:hover,
	.settings-sub label:hover,
	.current,
	a.current,
	.current .fancytree-title,
	.fancytree-title:hover,
	.searchResult:hover,
	.new,
	input,
	#filterButton:hover,
	#clear:hover,
	#findIt:hover,
	#updateCoverArt,
	.album,
	.remove:hover,
	.download:hover,
	.currentTrack,
	.currentTrack:before,
	#searchLink,
	#loadingInfo,
	#refreshPanel,
	.obsoleteWarning,
	.selected,
	a.infoPanelLink:hover,
	#share-actions > span:hover,
	#share-services > span:hover,
	span.current span.fancytree-title mark,
	.fancytree-ext-filter-hide span.fancytree-node.fancytree-match.current span.fancytree-title,
	.fancytree-ext-filter-hidetr.fancytree-match.current span.fancytree-title {
		color: var(--text-highlight);
	}

	.obsoleteWarning {
		margin-right: 1em;
		margin-left: 1em;
		vertical-align: middle;
	}

	#refreshPanel {
		width: 100vw;
		height: 1.5em;
		text-align: center;
		background-color: var(--text);
		border: 1px solid var(--text-highlight);
		border-radius: 3px;
		margin-top: .4em;
		margin-left: .4em;
		padding: 0 .2em;
	}

	i.polling {
		float: right;
		margin-right: .5em;
		margin-top: .4em;
	}

	@keyframes stretch {
		0% {
			transform: scale(0.8);
		}
		50% {
			transform: scale(1.2);
			color: var(--background);
		}
		75% {
			transform: scale(1.5);
			color: var(--background-highlight);
		}
		100% {
			transform: scale(1.0);
		}
	}

	.move-up:active,
	.move-down:active,
	.favouriteAlbum:active,
	.downloadAlbum:active,
	.share:active,
	.btn:active,
	.toggles:active {
		animation-name: stretch;
		animation-iteration-count: 1;
		animation-duration: var(--quick);
	}

	.big-jp-previous:active {
		transform: translateX(-.5em);
		transition-duration: var(--quick);
	}

	.big-jp-next:active {
		transform: translateX(.5em);
		transition-duration: var(--quick);
	}

	.shift-previous {
		transform: translateX(-.5em);
		transition-duration: var(--quick);
	}

	.shift-next {
		transform: translateX(.5em);
		transition-duration: var(--quick);
	}

	.play-pause {
		display: none;
	}

	.play-pause + label {
		filter:drop-shadow(-5px -5px 50px var(--text));
		text-shadow: -5px 6px 2px var(--background-subtle), -1px 3px 12px var(--background-neutral);
	}

	.play-pause + label {
		transform: rotate(360deg);
		transition-duration: var(--quick);
	}

	.play-pause:checked + label {
		transform: rotate(0deg);
	}

	.play-pause:checked + label i:before {
		content: "\f144";
	}

	.play-pause + label i:before {
		content: "\f28b";
	}

	a.infoPanelLink {
	text-decoration: underline;
	text-decoration-style: dotted;
	}
	
	body,
	#updateCoverArt,
	#aboutBox,
	#helpBox,
	#clear,
	.remove,
	#filterButton,
	#includeOldAlbums,
	#findIt,
	#big-player,
	a,
	#volume-value,
	#updateCoverArt,
	span.fancytree-title,
	mark,
	.fancytree-ext-filter-hide span.fancytree-node.fancytree-match span.fancytree-title,
	.fancytree-ext-filter-hidetr.fancytree-match span.fancytree-title {
		color: var(--text);
	}

	.fa-border,
	.fancytree-container {
		border: 0;
	}

	input, 
	select {
		color: var(--text);
		background-color: var(--background);
		border: 1px solid var(--background-highlight);
		border-radius: 3px;
	}

	input[type="color"] {
		width: 1.5em;
		height: 1.75em;
		padding:0;
		background: none;
	}

	body {
		margin: 0;
		overflow-x: hidden;
		overflow-y: hidden;
		height: 100vh;
	}

	a {
		text-decoration: none;
	}

	#searchLink:hover {
		text-decoration: none;
	}

	#aboutBox li {
		list-style: none;
		margin-left: 0;
		padding-left: 1em;
		text-indent: -1em;
	}

	#aboutBox li:before {
		content: '\266A';
		padding-right: .5em;
	}

	body,
	#leftPanel,
	#updateCoverArt,
	#aboutBox,
	#helpBox,
	#sharing-banner,
	#volume-value {
		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		background-color: var(--background);
	}

	/* Override leftPanel background so we can use dynamic theme */
	#leftPanel .ui-widget-header, 
	#leftPanel {
		background: none;
	}

	span.fancytree-node,
	ul.fancytree-container,
	#paypalIMG {
		background-color: transparent;
		border: 0;
	}

	#browserPanel,
	#infoPanel,
	#lyricsPanel,
	#settingsPanel,
	#searchPanel,
	#playlistPanel > ul,
	#historyPanel {
		margin-bottom: 5em;
	}

	#panelContainer {
		height: 100%;
		overflow-y: auto;
	}

	#leftPanel {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		border: 0;
		}

	.modal {
		margin-bottom: 3em;
	}

	#playlistPanel > ul {
		padding: .5em;
		margin-top: 3em;
	}

	.ui-menu {
		z-index: 3;
	}

	.playlist-poster {
		max-width: 100px;
		max-height: 100px;
		border: 1px solid var(--background-subtle);
	}

	#shared-album-cover,
	#shared-album-qr {
		width: 90%;
		vertical-align: text-bottom;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#shared-album-qr canvas {
		width: 100%;
		margin-left: -3px;
	}

	#shared-album-cover img, 
	.logo-share {
		border-radius: 3px;
	}

	#shared-album-cover img {
		width: 100%;
		display: block;
	}

	.logo-share {
		vertical-align: middle;
	}

	#shared-album-link {
		width: 95%;
	}

	#filterText {
		width: 85%;
	}

	#searchText {
		width: 70%;
		margin-left: -.5em;
	}

	#loadingInfo,
	#refreshPanel {
		display: none;
		z-index: 3;
		margin-right: 1em;
	}

	.big {
		font-size: var(--text-big);
	}

	.bigger {
		height: 2em;
	}

	.move,
	.share, 
	ul.fancytree-container {
		font-size: var(--text-normal);
	}

	.album,
	#nowPlaying_title {
		font-size: var(--text-larger);
	}

	#hits,
	#updateCoverArt {
		font-size: var(--text-smaller);
	}

	#nowPlaying_artist,
	#current_time,
	.artist,
	.year,
	.download,
	#nowPlaying_album,
	#nowPlaying_year,
	#duration {
		font-size: var(--text-small);
	}

	#lyricsPanel,
	#infoPanel,
	#historyPanel {
		font-size: var(--text-smaller);
	}

	#nowPlaying_songtitle {
		font-weight: bold;
		color: var(--text-highlight);
	}

	#nowPlaying_songtitle,
	.album-details {
		height: var(--text-quite-big);
		font-size: var(--text-normal);
	}

	#nowPlaying_songtitle {
		font-size: var(--text-larger);
	}

	#infoPanelTitle {
		font-size: var(--text-big);
		padding-top: 1em;
		padding-bottom: 2em;
	}

	#big-player,
	#sharing-banner,
	#wikiHistory,
	#imageViewerPanel {
		text-align: center;
	}

	#imageViewerPanel img {
		max-width: 100%;
	}
	
	#shared-album-qr,
	#shared-album-show-cover {
		display: none;
	}

	.editsection,
	.coveractions {
		display: none;
	}

	#error {
		background-color: var(--background-error);
		color: var(--error);
		padding:7pt;
		position: relative;
		margin: 10pt auto;
		text-align: center;
	}

	.yellow {
		color: var(--help);
	}

	.bold {
		font-weight: bold;
	}

	#big-info {
		text-align: center;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	#filter {
		border: 0;
	}

	.left {
		float: left;
	}

	.align-right {
		text-align: right;
	}

	.right {
		float: right;
	}

	.boxed {
		border: 1px solid var(--background);
		border-radius: .5em;
		background-color: var(--text-highlight);
		padding: .2em;
		vertical-align: middle;
		margin: .5em;
	}

	#updateCoverArt,
	.dummy {
		position: absolute;
		top: 0;
		z-index: 1;
		opacity: 0.1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.dummy {
		width: 100%;
		z-index: 0;
	}

	#updateCoverArt {
		z-index: 1;
	}

	#big-cover {
		margin: 0 auto;
		vertical-align: middle;
		border: 0;
		position: relative;
		border: 1px solid var(--background-subtle);
	}

	.album-action,
	.playlist-tools {
		padding-left: 1em;
	}

	.remove {
		float: right;
		font-weight: bold;
	}
	
	.currentTrack {
		margin-left: -0.5em;
	}

	.currentTrack:before {
		content: "\25B6";
		display: inline-block;
		height: 0;
		width: 0;
		left: -1.3em;
		position: relative;
	}

	#big-jp-progress {
		width: 100%;
		margin: 0;
		background: transparent;
		color: var(--text-highlight);
		height: .2em;
		border: 1px solid #bebec1;
		border: 0;
		border-radius: 0;
		position: relative;
		bottom: 0px;
		z-index: 1;
	}

	.hovered,
	#big-volume-bar:hover {
		opacity: 1!important;
	}

	.playlist-poster-container {
		width: 100px;
		height: 100px;
	}

	#big-volume-bar {
		opacity: 0;
		border-radius: .5em;
		border: 1px solid white;
		width: .2em;
		height: 75%;
		position: absolute;
		bottom: 10%;
		right: 3%;
		z-index: 1;
		background: transparent;
		box-shadow: 20px -20px 50px 50px #2222221f;
	}

	.spread {
		display: flex;
		justify-content: space-between;
		align-items: center
	}

	#big-timer,
	#big-info {
		margin: 0 .2em 3% .2em;
	}

	.nowrap {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#config {
		width: 90%;
		background: none;
	}
	
	#config fieldset {
		border: 1px solid var(--text);
		border-top-width: 2px;
	}
	
	fieldset {
		margin-bottom: 1em;
	}

	#config .fa-question-circle {
		margin-left: 1em;
		float: right;
	}

	.indent {
		margin-left: 1em;
		margin-right: 1em;
	}

	#config input,
	#config select,
	#config select option,
	#config textarea {
		font-family: Montserrat;
		background: var(--contrast-high);
		color: var(--constrast-low);
		margin-left: 1em;
		border: 1px solid var(--text-highlight);
		margin-bottom: .5em;
	}

	.tooltip {
		position: relative;
		display: inline-block;
	}

	.tooltip .tooltiptext {
		font-family: Montserrat;
		font-size: var(--text-small);
		visibility: hidden;
		width: 250px;
		background-color: var(--text);
		color: var(--text-highlight);
		padding: 5px;
		border: 1px solid var(--background);
		position: absolute;
		z-index: 1;
		right: 0;
		top: 2em;
	}

	a.tooltip .tooltiptext {
		width: 8.5em;
		align: center;
	}

	.theme-preview {
		display: inline-block;
		width: 4em;
		height: 2em;
		border: 1px solid black;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

	.logo-about {
		max-width: 50%;
	}

	.landing {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: var(--contrast-high);
		box-sizing: border-box;
		box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
		padding-bottom: 40px;
		border-radius: 3px;
		text-shadow: none;
	}

	.landing input {
		text-shadow: none;
	}

	.logo-landing {
		height: 2em;
		vertical-align: middle;
		overflow: hidden;
	}

	.landing-header {
		height: 5em;
		width: 100%;
		font-size: var(--text-quite-big);
		background: var(--text);
		color: var(--text-highlight);
		line-height: 150%;
		border-radius: 3px 3px 0 0;
		box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
	}

	.landing-form {
		margin: 4em 2em;
		width: 200px;
		display: block;
		border: none;
		padding: 1em 0;
		border-bottom: solid 1px var(--text);
		transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, var(--text) 4%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, var(--text) 4%);
		background-position: -200px 0;
		background-size: 200px 100%;
		background-repeat: no-repeat;
		color: var(--text);
	}

	.landing-form:focus,
	.landing-form:valid {
		box-shadow: none;
		background-position: 0 0;
	}

	.landing-form:focus::-webkit-input-placeholder,
	.landing-form:valid::-webkit-input-placeholder {
		color: var(--text);
		font-size: var(--text-normal);
		-webkit-transform: translateY(-1em);
						transform: translateY(-1em);
		visibility: visible !important;
	}

	.go {
		border: none;
		background: var(--text);
		border-radius: 3px;
		padding: 6px;
		width: 200px;
		color: var(--text-highlight);
		margin-left: 25px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	}

	.go:hover {
		-webkit-transform: translateY(-3px);
				-ms-transform: translateY(-3px);
						transform: translateY(-3px);
		box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	}

	#playlist,
	#playlist ul{
		list-style: none;
	}

	#playlist-controls {
		margin-left: auto;
		width: 80%;
		margin-right: auto;
	}
	
	#share-actions,
	#share-services {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	#share-actions,
	#share-services,
	#playlist-controls,
	#big-controls {
		justify-content: space-evenly;
	}
	
	#controls {
		color: var(--text-highlight);
		padding-left: 5%;
		padding-right: 5%;
		justify-content: space-around;
	}

	.big-jp-previous-album,
	.big-jp-next-album {
			display: none;
	}

	/* The highlight colour stuff comes next */

	::-webkit-scrollbar {
		width: .3em;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--text-transparent);
		border-radius: 1px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: var(--text);
	}

	#ham {
		color: var(--text);
	}

	#header {
		height: 2em;
		width: 100%;
		color: var(--text-highlight);
	}

	#mini-controls {
		display: none;
		margin-left: 2em;
		color: var(--text);
	}

	#mini-controls span,
	#mini-controls input + label {
		display: inline-block;
	}

	@media (hover: hover) and (pointer: fine) {
		.toggles.hover,
		#mini-controls span:hover,
		#mini-controls input + label:hover {
			color: var(--text-highlight);
		}

		.big-controls span:hover,
		.big-controls input + label:hover {
			color: var(--text);
		}
	}

	.ui-button {
		background: var(--background-highlight);
		border: 1px solid var(--text);
		color: var(--text-highlight);
		background-image: url(images/close.svg);
		background-size: .9em;
		background-repeat: round;
	}

	.ui-icon[class*=" fa-"] {
		background: none repeat scroll 0 0 transparent;
		text-indent: 0;
		margin-left: .5em;
		font-size: .75em;
	}

}

@media (max-aspect-ratio: 9/10), (min-aspect-ratio: 9/10) and (max-aspect-ratio: 11/10) {
 
	#viewer:after {
		content: 'tall';
		display: none;
	}

	#big-cover {
		max-width: 100vw;
		padding-top: 100%;
		position: relative;
	}

	#ham {
		display: inline-block;
	}

	#big-player {
		height:;
	}

	#refreshPanel {
		margin-right: 0;
	}

	@supports (backdrop-filter: blur(10px)) {
		ui-tabs .ui-widget-header {
			border: 1px solid var(--background-neutral);
			background: var(--background-neutral);
		}

		#leftPanel {
			backdrop-filter: blur(30px);
			background-color: var(--background-neutral);
		}
	}

	@supports not (backdrop-filter: blur(10px)) {
		#leftPanel {
		opacity: 0.9;
		background: var(--background);
		}
	}

	#playlistPanel > ul {
		margin-bottom: 7em;
	}

	@media (min-aspect-ratio: 9/10) and (max-aspect-ratio: 11/10) {

		#viewer:after {
			content: 'square';
			display: none;
		}

		#header {
			height: 1em;
		}

		#refreshPanel {
			height: 1em;
			font-size: var(--text-small);
			margin: 0;
		}

		.obsoleteWarning {
			position: fixed;
			top: 0;
		}

		i.polling {
			margin-top: .1em;
		}

		#mini-controls {
			display: inline!important;
		}

		#mini-controls i {
			font-size: var(--text-small);
		}

		#ham i,
		#logout a {
			font-size: var(--text-small);
		}

		#big-player {
			position: relative;
			height: 100%;
		}

		#playlist-controls,
		#controls,
		#big-timer {
			display: none;
		}

		#big-player-bottom {
			height: unset;
		}

		#nowPlaying_songtitle,
		.album-details {
			height: var(--text-big);
			font-size: var(--text-larger);
		}

		#nowPlaying_songtitle {
			font-size: var(--text-big);
		}

		#big-info:hover,
		.flash {
			backdrop-filter: blur(5px)!important;
			transition: backdrop-filter .5s ease-in, opacity .5s ease-out!important;
			opacity: 1!important;
		}

		#big-info {
			backdrop-filter: unset;
			position: absolute;
			background: rgba(0, 0, 0, 0.3);
			bottom: 0;
			margin-bottom: 5%;
			left: -3px;
			width: 100%;
			opacity: 0;
			transition: backdrop-filter 1s ease-in, opacity 1s ease-in;
			padding: .5em 0 .5em .5em;
			color: var(--text-highlight);
			text-shadow: -1px -1px 0 var(--background), 1px -1px 0 var(--background), -1px 1px 0 var(--background), 1px 1px 0 var(--background);
		}

		@supports not (backdrop-filter: blur(10px)) {
			#big-info {
				background: rgba(0, 0, 0, 0.8);
			}
		}
	}
}

@media (min-aspect-ratio: 11/10) {

	#viewer:after {
		content: 'medium';
		display: none;
	}

	#leftPanel {
		left: 0;
		opacity: 1;
		display: block !important;
		position: fixed;
		top: 0;
		width: 60%;
	}

	#big-player {
		position: fixed;
		top: 2em;
		left: 64%;
		margin-right: 5px;
		overflow: hidden;
		text-align: center;
		width: 35%;
		max-width: 70vh;
		z-index: 2;
	}

	#header {
		place-content: flex-end;
	}

	@media (min-width: 1000px) {

		#viewer:after {
			content: 'widescreen';
			display: none;
		}

		#playlist-tools {
			top: -18px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		#playlistPanel {
			opacity: 1;
			border-right: 1px solid black;
			display: block !important;
			position: fixed;
			top: 0;
		}

		#playlist-tools {
			background: var(--background);
			border-radius: 5px 5px 0 0;
			border-bottom: 2px solid var(--text);
		}

		.playlist-tools {
			color: var(--text);
		}

		#leftPanel {
			left: 0;
			width: 25%;
		}

		#playlistPanel {
			left: 26%;
			width: 32%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			border-right: 0;
			margin-top: .4em;
		}

	}

	@media (max-height: 480px) {

		/* special cases for landscape mode on skinny mobiles */

	#leftPanel {
		width: 50%;
	}

	#big-player {
		top: 2.6em;
		left: 58%;
		width: 45%;
		max-width: 85vh;
	}

		#big-timer,
		#big-info,
		#big-player-bottom,
		.big-volume-down,
		.big-volume-up {
			display: none !important;
		}

		#mini-controls {
			display: inline!important;
			z-index: 3;
			position: fixed;
			top: 1em;
			right: 48%;
		}

		#refreshPanel {
			height: 1.1em;
			font-size: var(--text-smaller);
			position: fixed;
			top: 0;
			margin: 0;
			padding: 0;
		}

	.obsoleteWarning {
			position: fixed;
			top: 0;
	}

	i.polling {
		position: relative;
		top: -.2em;
	}

		.playlist-poster-container {
			width: 85px;
			height: 85px;
		}

		.playlist-poster {
			max-width: 85px;
			max-height: 85px;
		}

	#uncoverLinks span {
		width: 150px;
	}

	#uncover_top_row span {
		padding: .5em;
		margin: .5em;
		font-size: var(--text-large);
	}

		#big-volume-bar {
			width: .05em;
		}

		#updateCoverArt {
			font-size: var(--text-tiny);
		}

		#big-jp-progress {
			height: .05em;
		}

		#big-player-bottom {
			height: unset;
			padding-top: .7em;
		}

		.fa-5x {
			font-size: 3em;
		}

		.fa-2x {
			font-size: 1.2em;
		}

	}

}

@media (max-height: 480px) {

	#playlist-controls {
		display: none;
	}
	
	#header {
		height: 1.5em;
	}

	#loadingInfo {
		font-size: var(--text-tiny);
	}

}

@media (max-width: 480px) {
	#playlist-controls {
		padding-right: 0;
	}

	#big-volume-down, 
	#big-volume-up,
	#big-mute,
	#big-unmute {
		display: none!important;
	}

	#big-volume-up:before,
	#big-volume-down:before,
	#big-mute:before,
	#big-unmute:before {
		display: none!important;
	}
}

@media (max-width: 1024px) {

	.ui-tabs-tab {
		font-size: var(--text-smaller)!important;
		padding-top: .25em!important;
	}

	.panelToggle {
		padding-left: .75em!important;
		padding-right: .75em!important;
	}

	#filterText {
		width: 80%;
	}

	#searchText {
		width: 75%;
	}

}

