@media all {

	::-webkit-scrollbar {
		width: .3em;
		height: .3em;
	}

	::-webkit-scrollbar-track {
		border-radius: 0 .5em .5em 0;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 0 .5em .5em 0;
	}

	/* I don't like the default space between icon and text in fancytree with fontawesome5 */

	span.fancytree-title {
		margin-left: 8px;
	}

	/* Fix for https://stackoverflow.com/questions/41777517/fancy-tree-icon-alignment-as-vertical-center in fancytree with fontawesome5 */

	span.fancytree-title,
	span.fancytree-icon,
	span.fancytree-expander{
		vertical-align: baseline;
	}

	.fancytree-treefocus span.fancytree-active span.fancytree-title, .fancytree-treefocus span.fancytree-selected span.fancytree-title {
		outline: 1px dotted #E3E5BB;
		color: #E3E5BB!important;
		background-color: transparent;
	}

/*
	.fancytree-treefocus span.fancytree-active span.fancytree-title:after,
	 .fancytree-treefocus span.fancytree-selected span.fancytree-title:after {
		content: '\00a0\00a0\2039';
 }
*/

	.fa-play-next {
		content:url("data:image/svg+xml;utf8,\
		<svg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>\
			<g id='play-next' fill-rule='evenodd' fill='%23E3E5BB'>\
				<rect opacity='.5' x='1' y='17' width='14' height='2' rx='1'></rect>\
				<rect opacity='.5' x='1' y='7' width='14' height='2' rx='1'></rect>\
				<rect x='1' y='12' width='9' height='2' rx='1'></rect>\
				<rect transform='rotate(90 18 8)' x='22' y='3' width='2' height='10' rx='1'></rect>\
				<rect x='17' y='8' width='2' height='10' rx='1'></rect>\
			</g>\
		</svg>");
	}

	.fa-play-last {
		content:url("data:image/svg+xml;utf8,\
		<svg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>\
			<g id='play-last' transform='translate(1 5)' fill-rule='evenodd' fill='%23E3E5BB'>\
				<rect opacity='.5' width='14' height='2' rx='1'></rect>\
				<rect opacity='.5' y='5' width='14' height='2' rx='1'></rect>\
				<rect y='10' width='9' height='2' rx='1'></rect>\
				<path d='M21.005 10c.55 0 .995.444.995 1 0 .552-.456 1-.995 1h-8.01c-.55 0-.995-.444-.995-1 0-.552.456-1 .995-1h8.01'></path>\
				<rect x='16' y='6' width='2' height='10' rx='1'></rect>\
			</g>\
		</svg>");
	}

	.ui-menu-item-wrapper:hover > .fa-play-next {
		content:url("data:image/svg+xml;utf8,\
		<svg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>\
			<g id='play-next' fill-rule='evenodd' fill='%23121314'>\
				<rect opacity='.5' x='1' y='17' width='14' height='2' rx='1'></rect>\
				<rect opacity='.5' x='1' y='7' width='14' height='2' rx='1'></rect>\
				<rect x='1' y='12' width='9' height='2' rx='1'></rect>\
				<rect transform='rotate(90 18 8)' x='22' y='3' width='2' height='10' rx='1'></rect>\
				<rect x='17' y='8' width='2' height='10' rx='1'></rect>\
			</g>\
		</svg>");
	}

	.ui-menu-item-wrapper:hover > .fa-play-last {
		content:url("data:image/svg+xml;utf8,\
		<svg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>\
			<g id='play-last' transform='translate(1 5)' fill-rule='evenodd' fill='%23121314'>\
				<rect opacity='.5' width='14' height='2' rx='1'></rect>\
				<rect opacity='.5' y='5' width='14' height='2' rx='1'></rect>\
				<rect y='10' width='9' height='2' rx='1'></rect>\
				<path d='M21.005 10c.55 0 .995.444.995 1 0 .552-.456 1-.995 1h-8.01c-.55 0-.995-.444-.995-1 0-.552.456-1 .995-1h8.01'></path>\
				<rect x='16' y='6' width='2' height='10' rx='1'></rect>\
			</g>\
		</svg>");
	}

	.small {
		font-size: 0.7em;
	}

	#playlist-tools {
		position: fixed;
		bottom: 0;
		padding-bottom: .5em;
		padding-top: .6em;
		left: inherit;
		width: 100%;
		box-shadow: 0 -5px 15px -5px #333;
	}

	#includeOldAlbums {
		display: none;
	}
	
	.space-after {
		margin-right: 0.8em;
	}

	.settings {
		margin-top: 0.5em;
	}

	.hidden {
		display: none;
	}

	.ui-tabs .ui-tabs-nav {
		border-bottom: 1px solid #A7A97F;
	}
	
	.ui-menu {
		border: 1px solid #A7A97F!important;
		background-color: #222!important;
	}

	span.fancytree-active span.fancytree-title, span.fancytree-selected span.fancytree-title {
		background-color: transparent;
	}

	mark {
		text-decoration: underline;
    background-color: rgba(0, 0, 0, 0);
	}

	#loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0.7
	}
	
	#loading,
	#playlistSpinner {
    width: 100%;
    height: 100%;
    text-align: center;
	}

	#playlistSpinner {
    margin-top: 50%;
	}

	#resync {
		display: none;
	}

	/* tabs */
	.ui-widget-header { }

	.ui-menu {
		width: 150px;
	}

	#playlist > li > ul > li:hover,
	a:hover {
		color: #E3E5BB;
	}

	.toggles,
	#big-jp-progress, 
	.go,
	a,
	#controls > span > i {
		cursor: pointer;
	}

	.is-admin-0 {
		display:none;
	}

	.playlist-tools,
	.remove,
	.album-action {
		opacity: 0.5;
	}

	.playlist-tools:hover,
	.remove:hover,
	.album-action:hover {
		opacity: 1;
	}

	.playlist-tools:hover,
	.toggles:hover,
	.settings:hover,
	.current,
	a.current,
	.current .fancytree-title,
	.fancytree-title:hover,
	.searchResult a,
	.new,
	input,
	#filter,
	#filterButton,
	#clear,
	#findIt,
	#updateCoverArt,
	.album,
	.remove:hover,
	.download:hover,
	.currentTrack,
	.currentTrack:before,
	#searchLink,
	#logout a,
	#loadingInfo,
	.selected,
	#playlist_select,
	a.infoPanelLink:hover,
	span.current span.fancytree-title mark,
	.fancytree-ext-filter-hide span.fancytree-node.fancytree-match.current span.fancytree-title,
	.fancytree-ext-filter-hidetr.fancytree-match.current span.fancytree-title {
		color: #E3E5BB;
	}
	
	a.infoPanelLink {
	color: #7e805f;
	}
	
	body,
	#updateCoverArt,
	#aboutBox,
	#helpBox,
	#clear,
	.remove,
	#filterButton,
	#includeOldAlbums,
	#findIt,
	#big-player,
	a,
	#volume-value,
	#updateCoverArt,
	span.fancytree-title,
	mark,
	.fancytree-ext-filter-hide span.fancytree-node.fancytree-match span.fancytree-title,
	.fancytree-ext-filter-hidetr.fancytree-match span.fancytree-title {
		color: #A7A97F;
	}

	body,
	input,
	.fancytree-node {
		font-family: Montserrat, Verdana, sans-serif;
	}

	input,
	.fa-border,
	.fancytree-container {
		border: 0;
	}

	input {
		background-color: #222;
	}

	body {
		margin: 0;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	a {
		text-decoration: none;
	}

	#searchLink:hover {
		text-decoration: none;
	}

	#aboutBox li {
		list-style: none;
		margin-left: 0;
		padding-left: 1em;
		text-indent: -1em;
	}

	#aboutBox li:before {
		content: '\266A';
		padding-right: .5em;
	}

	body,
	#leftPanel,
	#updateCoverArt,
	#aboutBox,
	#helpBox,
	#sharing-banner,
	#volume-value,
	#playlist_select,
	#playlist-tools {
		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		background-color: #121314;
	}

	span.fancytree-node,
	ul.fancytree-container,
	#paypalIMG {
		background-color: transparent;
		border: 0;
	}

	#browserPanel,
	#infoPanel,
	#lyricsPanel,
	#settingsPanel,
	#searchPanel,
	#playlistPanel > ul {
		margin-bottom: 5em;
	}

	#panelContainer {
		height: 100%;
		overflow-y: auto;
	}

	#leftPanel {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0.9;
	 }

	.modal {
		margin-bottom: 3em;
	}

	#playlistPanel > ul {
		padding: 0;
	}

	.ui-menu {
		z-index: 3;
	}

	.playlist-poster {
		max-width: 100px;
		max-height: 100px;
		margin-left: -0.5em;
	}

	#shared-album-cover,
	#shared-qr {
		width: 90%;
		vertical-align: text-bottom;
	}

	#shared-album-link {
		width: 95%;
	}

	.fill {
		width: 90%;
	}

	#loadingInfo {
		display: none;
		background: #121314;
		padding-top: 1em;
		z-index: 3;
	}

	.big {
		font-size: 2em;
	}

	.bigger {
		height: 2em;
	}

	.move,
	.share, 
	ul.fancytree-container {
		font-size: 1em;
	}

	.album,
	#nowPlaying_title {
		font-size: 1.2em;
	}

	.hits,
	#updateCoverArt {
		font-size: .9em;
	}

	#lyricsPanel,
	#infoPanel,
	#nowPlaying_artist,
	#current_time,
	.artist,
	.year,
	.download,
	#nowPlaying_album,
	#nowPlaying_year,
	#duration {
		font-size: .8em;
	}

	#infoPanelTitle {
		font-size: 2em;
		padding-top: 1em;
    padding-bottom: 2em;
	}

	.hits {
		margin: 0 .3em;
	}

	#big-player,
	#sharing-banner {
		text-align: center;
	}
	
	#shared-album-qr,
	#shared-album-show-cover {
		display: none;
	}

	.editsection,
	.coveractions {
		display: none;
	}

	#error {
		background-color:#FFE4E1;
		color:#FF6666;
		padding:7pt;
		position: relative;
		margin: 10pt auto;
		text-align: center;
		border: 1px dotted #CDD2D6;
	}

	.yellow {
		color: #dd0;
	}

	.bold {
		font-weight: bold;
	}

	#big-info {
		text-align: right;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	#big-jp-progress {
		margin-left: 0;
		height: .2em;
		width: 100%;
	}

	#filter {
		border: 0;
	}

	#playlist > li > ul > li {
		margin-left: -3em;
	}

	#playlist > li > ul > li:first-child {
		margin-top: 0.5em;
	}


	#playlist > li > ul > li:last-child {
		margin-bottom: 2em;
	}

	.left {
		float: left;
	}

	.align-right {
		text-align: right;
	}

	.right {
		float: right;
	}

	.boxed {
		border: 1px solid #121314;
		border-radius: .5em;
		background-color: #E3E5BB;
		padding: .2em;
		vertical-align: middle;
		margin: .5em;
	}

	#updateCoverArt,
	.dummy {
		position: absolute;
		top: 0;
		z-index: 1;
		opacity: 0.1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.dummy {
		width: 100%;
		z-index: 0;
	}

	#updateCoverArt {
		z-index: 1;
	}

	#big-cover {
		margin: 0 auto;
		vertical-align: middle;
		border: 0;
		position: relative;
		padding-top: 100%;
		background-size: contain;
		background-image: url(images/about.png);
		background-repeat: no-repeat;
		background-position: center;
		transition: background-image .5s ease;
	}

	#big-cover img {
		width: 100%;
		vertical-align: middle;
		display:block;
	}

	div.jp-progress {
		background-color: #272727;
		border-radius: 1.5em;
	}

	.album-action,
	.playlist-tools {
		padding-left: 1em;
	}

	.remove {
		float: right;
		font-weight: bold;
	}
	
	.currentTrack {
		margin-left: -0.5em;
	}

	.currentTrack:before {
		content: "\25B6";
		display: inline-block;
		height: 0;
		width: 0;
		left: -1.3em;
		position: relative;
	}

	#big-volume-bar,
	#volume-value {
		width: 50px;
		transform: rotate(270deg);
		width: .2em;
	}

	#big-volume-bar {
		height: 90%;
		position: absolute;
		bottom: 5%;
		left: 97%;
		z-index: 2;
		border-radius: .5em;
		border: 1px solid white;
	}

	#volume-value {
		border-top-left-radius: .5em;
		border-top-right-radius: .5em;
		border-bottom: none;
	}

	.spread {
		display: flex;
		justify-content: space-between;
		align-items: center
	}

	#big-timer,
	#big-info {
		margin: 0 .2em 0 .2em;
	}

	.nowrap {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#config {
		width: 90%;
		background: none;
	}
	
	#config fieldset {
		border: 1px solid #A7A97F;
	}
	
	fieldset {
		margin-bottom: 1em;
	}

	#config i {
		margin-left: 1em;
		float: right;
	}

	.indent {
		margin-left: 1em;
	}

	#config input,
	#config select,
	#config select option,
	#config textarea {
		font-family: Montserrat;
		background: #ffffff;
		color: #000000;
		margin-left: 1em;
		border: 1px solid #E3E5BB;
		margin-bottom: .5em;
	}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
		font-family: Montserrat;
		font-size: .8em;
    visibility: hidden;
    width: 300px;
    background-color: #A7A97F;
    color: #E3E5BB;
    padding: 5px;
    border: 1px solid #121314;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 2em;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

	.landing {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: #ffffff;
		box-sizing: border-box;
		box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
		padding-bottom: 40px;
		border-radius: 3px;
	}

	.landing-header img {
		height: 2em;
		vertical-align: middle;
		overflow: hidden;
	}

	.landing-header {
		height: 5em;
		width: 100%;
		font-size: 1.5em;
		background: #A7A97F;
		color: #E3E5BB;
		line-height: 150%;
		border-radius: 3px 3px 0 0;
		box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
	}

	.landing-form {
		margin: 4em 2em;
		width: 200px;
		display: block;
		border: none;
		padding: 1em 0;
		border-bottom: solid 1px #A7A97F;
		-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
						transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #A7A97F 4%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #A7A97F 4%);
		background-position: -200px 0;
		background-size: 200px 100%;
		background-repeat: no-repeat;
		color: #A7A97F;
	}

	.landing-form:focus,
	.landing-form:valid {
		box-shadow: none;
		outline: none;
		background-position: 0 0;
	}

	.landing-form:focus::-webkit-input-placeholder,
	.landing-form:valid::-webkit-input-placeholder {
		color: #A7A97F;
		font-size: 1em;
		-webkit-transform: translateY(-1em);
						transform: translateY(-1em);
		visibility: visible !important;
	}

	.go {
		border: none;
		background: #A7A97F;
		border-radius: 3px;
		padding: 6px;
		width: 200px;
		color: #E3E5BB;
		margin-left: 25px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	}

	.go:hover {
		-webkit-transform: translateY(-3px);
				-ms-transform: translateY(-3px);
						transform: translateY(-3px);
		box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	}

	#playlist,
	#playlist ul{
		list-style: none;
	}

	#playlist-controls {
		padding-left: 10%;
		padding-right: 10%;
	}
	
	#share-actions {
		margin-top: 1em;
    margin-bottom: 1em;
	}

	#share-actions,
	#playlist-controls,
	#big-controls {
		justify-content: space-evenly;
	}
	
	#controls {
		color: #E3E5BB;
		padding-left: 5%;
		padding-right: 5%;
		justify-content: space-around;
	}

	.big-jp-previous-album,
	.big-jp-next-album {
			display: none;
	}

	/* The highlight colour stuff comes next */

	::-webkit-scrollbar-track {
		background-color: #121314;
	}

	::-webkit-scrollbar-thumb {
		background: #272727;
	}

	#header {
		height: 2em;
		width: 100%;
		color: #E3E5BB;
	}

	#mini-controls {
		display: none;
		margin-left: 2em;
	}

	#big-volume-bar {
		background-color: #E3E5BB;
	}

	#searchText,
	#filterText,
	#playlist_select {
		border: 1px solid #E3E5BB;
	}
	
	#searchText::-webkit-input-placeholder {
		color: #A7A97F;
	}
	
	.ui-icon[class*=" fa-"] {
		background: none repeat scroll 0 0 transparent;
		text-indent: 0;
		margin-left: .5em;
		font-size: .75em;
	}

}

@media (max-aspect-ratio: 9/10), (min-aspect-ratio: 9/10) and (max-aspect-ratio: 11/10) {
 
	#viewer:after {
		content: 'tall';
		display: none;
	}

	#playlistPanel > ul {
		margin-bottom: 7em;
	}
	
	#mini-controls {
		vertical-align: super;
	}

	@media (min-aspect-ratio: 9/10) and (max-aspect-ratio: 11/10) {

		#viewer:after {
			content: 'square';
			display: none;
		}

		#header {
			height: 1em;
		}

		#mini-controls {
			display: inline !important;
			vertical-align: unset;
		}

		#mini-controls i {
			font-size: .8em;
		}

		#ham i,
		#logout a {
			font-size: 0.8em;
		}

		#big-player {
			position: relative;
			height: 100%;		
		}

		#playlist-controls,
		#controls,
		#big-timer {
			display: none;
		}
		
		#big-info {
			position: absolute;
			background: rgba(0, 0, 0, 0.8);
			bottom: 3px;
			left: -3px;
			width: 100%;
			transition: opacity 2s;
			text-align: left;
			opacity: 0;
		}

		#big-info:hover {
			transition: opacity 0.2s;
			opacity: 1;
		}
		
		#nowPlaying_album,
		#nowPlaying_year,
		#nowPlaying_artist,
		#nowPlaying_title {
			padding-left: 2px;
		}
	}
}

@media (min-aspect-ratio: 11/10) {

	#viewer:after {
		content: 'medium';
		display: none;
	}

	#leftPanel {
		left: 0;
		opacity: 1;
		border-right: 1px solid black;
		display: block !important;
		position: fixed;
		top: 0;
		width: 60%;
	}

	#playlist-tools {
		width: 58%;
	}

	#big-player {
		position: fixed;
		top: 2em;
		left: 64%;
		margin-right: 5px;
		overflow: hidden;
		text-align: center;
		width: 35%;
		max-width: 70vh;
		z-index: 2;
	}

	@media (min-width: 1000px) {

		#viewer:after {
			content: 'widescreen';
			display: none;
		}

		#playlistPanel {
			opacity: 1;
			border-right: 1px solid black;
			display: block !important;
			position: fixed;
			top: 0;
		}

		#leftPanel {
			left: 0;
			width: 25%;
		}

		#playlistPanel {
			left: 26%;
			width: 32%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			border-right: 0;
		}

	}
}

@media (max-height: 480px) {
	#playlist-controls {
		display: none;
	}
	
	#header {
		height: 1em;
	}
	
	#big-player {
		top: 1em;
	}
}

@media (max-width: 480px) {	
	#playlist-controls {
		padding-right: 0;
	}

	#big-volume-up:before,
	#big-volume-down:before,
	#big-mute:before {
		display: none;
	}
}