/* General styles */

.close,
.hideable, 
sup, 
.node,
.toggles,
#rootfolder, 
#includeOlAdlbums,
#updateCoverArt, 
#clear,
#findIt {
 cursor:pointer;
}

#loadingIcon {
	vertical-align: bottom;
}
.current {
	font-weight:bold;
	color: #FFB90F;
}

.infoPanelLink {
	color:#F39366;
}

.hits {
	font-size: .8em;
}

.searchResult, .new {
	color: #FFB90F;
}

.searchResultParent {
	
}

.editsection {
	display:none;
}

/* Scrollbar style */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(39, 39, 39,0.3); 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 185, 15,0.9); 
    -webkit-box-shadow: inset 0 0 6px rgba(39, 39, 39,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 185, 15,0.6); 
}

body {
	background-color:#272727;
	font-family: Verdana;
	font-size:smaller;
	margin:0px;
	overflow:hidden;
}

A {
	color: #999999;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

input {
  border: 0px;
  background-color: #666;
  color: #FFB90F;
}


label {
  color: #999999;
}


.spacer {
  padding: 0px 12px 0px 0px;
}

#filterForm, #loadtime, #logout {
	color: #999999;
}

#filterButton {
color: #FFB90F;
}

#filterForm {
  float:right;
}

#filterButton {
  padding: 2px;
}

#musiccoplayer {
  position: relative;
  top: -2000px;
  left: -500px;
}

#error {
	max-width:310px;
	background-color:#FFE4E1;
	color:#ff6666;
	padding:7pt;
	position: relative;
	margin: 10pt auto;
	text-align:center;
	border: 1px dotted #CDD2D6;
}

#helpBox {
  opacity: .8;
  background: #000000;
}

#aboutBox {
  background:#272727;
}

.help {
  color: #fff;
  display:block;
  padding-left: 30px;
  padding-right: 15px;
  font-size: larger;
}

.yellow {
  color: #dd0;
}

.close {
  color: #FFB90F;
  font-size: xx-small;
  text-align: right;
}
.about {
  background-color:#272727;
  color: #999999;
  text-align:center;
  font-size: larger;
  display:block;
}

#aboutBox span input, #aboutBox span a {
  background-color:#272727;
  color: #FFB90F;
  font-size: large;
}

.bold {
  font-size: larger;
  font-weight: bold;
}

.big {
  font-size: x-large;
}

.bar{
	width:310px;
	clear:both;
	height:1px;
}

/* Playlist */
#filter {
  width: 85%;
  background-color: #272727;
  position: absolute;
  top:1px;
}

#playlist-controls {
}

.node {
 display:block;
}

/* Info area */ 

#header {
	background-color:#272727;
	font-family: Verdana;
	font-size: xx-small;
	text-align: right;
	width: 100%;
}

#untest {
  display:none;
}

form {
display:inline;
}


/* Login bar (at the bottom of the page) */
#login_bar {
	margin: 0 auto;
	margin-top:2px;
	max-width:310px;
}

#login_bar input.submit{
	float:right;
}

#panels {
  width: 100%;
  height: 310px;
  position: relative;
  top: 0px;
  z-index: 0;
}


.browserimg {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}


#searchPanel, #infoPanel, #lyricsPanel, #helpPanel, #aboutPanel, #playlistPanel, #browser {
  display:none;
  opacity: .95;
  min-width: 298px;
  width: 85%;
  height: 310px;
  border:1px solid #FFB90F;
  overflow-x:hidden;
  overflow-y:scroll;
  background: #272727;
  color: #949494;
  margin: auto;
  padding-left:5px;
  padding-right:5px;
  text-align: left;
}

#helpPanel {
 background: none;
 border:0px;
}

#lyricsPanel, #infoPanel, #lyricsPanel a {
	font-family: sans-serif;
	font-size: small;
	background: white;
	color: black;
	opacity: .9;
}

#browser {

}

#playlistPanel {
  height: 310px;
  position: relative;
  top: 1184px;
  left: 500px;
  z-index: 1;
  margin: auto;
}


#big-player {
  width: 100%;
  height: 100%;
  overflow:auto;
  background: #000000;
  color: #999999;
  text-align: center;
}

#playlist-controls, #big-jp-progress, #big-info, #big-timer, #big-controls {
  position: relative;
  top: -322px;
  z-index: 0;
  clear: both;
}

#big-info {
	text-align: right;
	width: 310px;
	height: 50px;
	margin: 0px auto;
	overflow: hidden;
}

#updateCoverArt {
 display:block;
 background-color: #272727;
 color: #FFB90F;
 font-size: xx-small;
 opacity: 0.1;
 position: relative;
 float: right;
 top: -310px;
}

#big-controls img {
  width: 100px;
}

#nowPlayingTitle {
	font-size: larger;
}

#nowPlayingArtist {
	font-size: small;
}

#nowPlayingAlbum {
	font-size: smaller;
}

div.toggles {
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  display:inline-block;
  width: 32px;
  height: 32px;
  color: #FFB90F;
	font-size: x-small;
}

div.toggles:hover,
div.selected,
div.shown {
  background-position-y: -32px;  
}

#clear-playlist {
  background-image: url("clear32.png");
}
#uncover {
  background-image: url("uncover32.png");
}
#playlist-toggle {
  background-image: url("playlist32.png");
}
#browser-toggle {
  background-image: url("browser32.png");
}
#search-toggle {
  background-image: url("search32.png");
}
#track-wiki {
  background-image: url("info32.png");
}
#track-lyrics {
  background-image: url("lyrics32.png");
}
#big-shuffle {
  background-image: url("shuffle32.png");
}
#big-repeat {
  background-image: url("repeat32.png");
}
#big-mute {
  background-image: url("mute32.png");
}
#big-volume-down {
  background-image: url("volume-down32.png");
}
#big-volume-up {
  background-image: url("volume-up32.png");
}

#big-cover {
  position: relative;
  top: -310px;
  z-index: 0;
  width: 310px;
  height: 310px;
  margin: 0px auto;
  vertical-align: middle;
  border: 1px solid;
  border-color: #272727;
  box-shadow: 0px 0px 164px #888;
}

#big-cover img {
  width:100%;
  vertical-align: middle;
  display:block;
}

#big-jp-progress, .jp-progress, .jp-seek-bar, .jp-play-bar {
  height: 18px;
}
  
#big-jp-progress {
  width: 310px;
  border: 1px solid;
  border-color: #272727;
  margin: 0px auto;
  border-radius: 10px;
}

#big-timer {
  width: 310px;
  margin: 0px auto;
}

#big-volume-bar {
  height: 150px;
  width: 10px;
  border:1px solid;
  background: #FFB90F;
  position: relative;
  top: -160px;
  left: 290px;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #888;
}

#volume-value {
  width: 10px;
  background:black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#big-controls {
  padding-top: 5px;  
}

#big-toggles {
  width: 310px;
  margin: 0px auto;
	color:#FFB90F;
	font-size:medium; 
}


/* Login area */

#login {
	max-width: 310px;
	text-align:right;
	margin:15px auto 50px auto;
}

#login div {
	display:block;
	width:310px;
	margin-top:5px;
}

#login label{
	width: 120px;
	text-align: right;
}

.download {
	color: #FFB90F;
	font-size:smaller;
}

.jp-free-media {
	color: #272727;
}

#android-banner {
	display: none;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: rgb(245, 206, 84);
}

.install-button {
	height: 40px;
	width: 50%;
	border: 1px solid gray;
	text-align: center;
	margin: -1px;
	background: #F8F2D4;
}

.install-button > a{
	color: black;
	vertical-align: -webkit-baseline-middle;
	text-decoration: none;
	line-height:40px;
}	

.banner-close {
	color: black;
	float: right;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-top: 15px;
	margin-right: 5px;
	background-image: url('close.png');
	opacity: .5;
	-webkit-transition: opacity .1s ease-in-out;
}

#left-button {
	float: left;
}

#right-button {
	float: right;
}

.boxed {
	border: 1px solid black;
	border-radius: 5px;
	background-color: whitesmoke;
	padding:2px;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.move {
	font-size: 24px;
}

.share {
	font-size: 22px;
}